$fontOpenSans: 'Open Sans', sans-serif !important;


html{
    scroll-behavior: smooth;
 }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.link-menu{
    transition: .5s;
}
.link-menu:hover {
    text-decoration: none;
    color: rgb(255, 251, 0);
}
a:hover,
a:focus {
    text-decoration: none;
    color: rgb(255, 238, 0);
}

h1{
	
}
h3 {
    font-weight: 100; font-size: 16pt !important; letter-spacing: 3px;
}
h4{
	font-weight: 200; font-size: 14pt !important; letter-spacing: 3px
}
.fa-play{
    margin-right: 5px;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 1em auto; 
}

.sidebar {
    background: rgb(70, 120, 200);
    color: #fff;
	padding-top: 10px;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
	margin-bottom: 50px
}
.post-title {
    letter-spacing: 8px; font-size: 2.3em !important;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
   
    float: right;
    margin-left: 1em;
	width: 40%
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.post-header{
	margin-bottom: 20px
}
.texto{
	font-family: $fontOpenSans; font-weight: 400
}












/* MARKETING DIGITAL ---------------------------------------------------------*/

.mcol1{
    background: #444; padding: 2px 2px 0px 5px; 
}
.mcol2{
    padding-left: 20px; border-right: #5aba59 double 24px ; 
}
.uxui{
    font-family: 'Patua One', cursive !important; font-size: 30pt; text-align: center;
}
.colUxUi{
    background-image: linear-gradient( 50deg, rgba(208, 255, 0, 0.5) 200px, rgba(47, 148, 248, 0.4) 100px );
}
.subtitulo{
    text-align: center; font-family: 'Patua One', cursive !important; font-size: 12pt;
}
.topicosUx{
    font-family: 'Open Sans', sans-serif; font-size: 12pt; font-weight: bold;
}
  
.flip-container { perspective: 1000; }  	

.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 100%;
  height: 300px;
  text-align: center;
  margin-bottom: 50px
}

.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
  left: 0;
}
.front{
	background-image: linear-gradient( 50deg, rgba(120,100,150, 0.9) 100px, rgba(0,0,0, 0.0) 100px ); padding: 50px 10px 10px 10px;
}
.back{
	background-image: linear-gradient( -50deg, rgba(100,200,100, 0.9) 100px, rgba(0,0,0, 0.0) 100px ); padding: 0px 10px 10px 10px;
	text-align: left
}
    
.front { z-index: 2;  }    
.back { transform: rotateY(180deg); }

.txtcard{
  font-family: $fontOpenSans;
  font-size: 14pt; color: black !important; font-weight: 600
}

.imgCur{
    width: 80%;
}










/* MIDIA IMPRESSA ------------------------------------------------------*/
.pan{
	padding-left: 5px; background-image: url(../img/pan.png); background-size: 60%; background-repeat: no-repeat; background-position: right
}
.impressa{
	padding-right: 15px
}
.dica1{
	background-image: linear-gradient( 50deg, rgba(100,100,150, 0.7) 200px, rgba(0,0,0,0) 0px ); 
	transition: all .6s !important; 
}
.dica2{
	background-image: linear-gradient( 50deg, rgba(150,100,150, 0.7) 200px, rgba(0,0,0, 0.0) 100px );
	transition: all .5s;
}
.dica3{
	background-image: linear-gradient( 50deg, rgba(200,100,150, 0.7) 200px, rgba(0,0,0, 0.0) 100px );
	transition: all .5s;
}
.dica1, .dica2, .dica3, collapsible, li, .collapsible-header, ul{
	border: 0px !important; box-shadow: 0px !important ;
}
.dica1:hover, .dica2:hover, .dica3:hover{
	background-image: linear-gradient( 50deg, rgba(100,100,150, 0.0) 200px, rgba(100,200,100, 0.7) 100px ); padding-left: 70%
}
.titulo-dicas{
	font-family: 'Permanent Marker', cursive !important; font-size: 23pt; color: white
}
.dica1Back{
	background-color: rgba(100,100,150, 0.7); 
}
.dica2Back{
	background-color: rgba(150,100,150, 0.7)
}
.dica3Back{
	background-color: rgba(200,100,150, 0.7)
}
.dica1Back, .dica2Back, .dica3Back{
	font-family: 'Permanent Marker', cursive !important; color: azure; letter-spacing: 2px; font-size: 15pt
}

.fundo-servico{
	background-image: url(../img/tintas.png); background-repeat: repeat-x; background-position: bottom center
}
.topicos-serivos{
	font-family: 'Permanent Marker', cursive !important; font-size: 16pt; 
}







/* PLANILHAS ------------------------------------------------------*/
.planilhas{
	background: rgba(100,200,120,0.5); padding: 10px; text-align: center; border-radius: 10px; margin-top: 30px
}
.planilhas2{
	background-image: url(../img/grafico.png); background-size: contain; background-repeat: no-repeat; background-position: right;
	padding-left: 20px
}








/* roda pe -------------------------------------------------------*/
.footer {
    padding: 20px 20px 5px 20px ; background-color: darkorange; border-radius: 20px 20px 0 0
}
.footer2{
	border-bottom: 1px solid #fff; padding-bottom: 20px
}
.colmeio{
	border-left: solid 1px #fff; padding-left: 10px
}


textarea{
	border: 1px solid #fff !important; border-radius: 0px !important; box-shadow: 0px !important;
	font-family: 'Open Sans', sans-serif !important; font-weight: 600; color: #fff; height: 150px !important; width: 100% !important;
}



.meubtn{
	font-family: $fontOpenSans; font-weight: bolder
}
.nomes{
	text-align: center; width: 100%; color: bisque
}

 .topo {
            color: rgba(0,0,0,0.0) !important;
            transition: all 500ms linear;
        }
        .topo.ativo {
            color: rgb(0,0,0) !important;
        }
        .rodape {
            color: rgba(0,0,0,0.0) !important;
            transition: all 500ms linear;
        }
        .rodape.ativo2 {
            color: rgb(0,0,0) !important;
        }




.label-float{
  position: relative !important;
  padding-top: 20px !important;
  width: 100% !important
}

.label-float .meuInput{
  border: 1px solid #fff !important;
  border-radius: 5px  !important;
  outline: none !important;
  padding-left: 10px !important;
  width: 100%;
  font-size: 15pt !important;
  transition: all .1s linear !important;
  -webkit-transition: all .1s linear !important;
  -moz-transition: all .1s linear !important;
  -webkit-appearance:none !important;
  color: #fff;
}

.label-float .meuInput:focus{
  border: 2px solid #000 !important;
}

.label-float .meuInput::placeholder{
  color:#fff !important;
}

.label-float .meuLabel{
  pointer-events: none !important;
  position: absolute !important;
  top: calc(50% - 8px) !important;
  left: 15px !important;
  transition: all .1s linear !important;
  -webkit-transition: all .1s linear !important;
  -moz-transition: all .1s linear !important;
  background-color: white !important;
  padding: 5px !important; 
  box-sizing: border-box !important;
  background-color: darkorange !important;
  z-index: 300;
  color: #fff;

}


.label-float .meuInput:required:invalid + .meuLabel:before{
  content: '*' !important;
}
.label-float .meuInput:focus + .meuLabel,
.label-float .meuInput:not(:placeholder-shown) + .meuLabel{
  font-size: 10pt !important;
  top: 0 !important;
  color: #fff !important;
}















/* media query ------------------------------------------------*/
@media (max-width: 1200px){
	.dica1:hover, .dica2:hover, .dica3:hover{
	     background-image: linear-gradient( 50deg, rgba(100,200,150, 0.7) 200px, rgba(0,0,0, 0.0) 100px ); padding-left: 20px
    }
    .topo, .rodape{
        visibility: hidden;
    }
}

@media (min-width: 990px) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
	
}

@media (min-width: 800px) and (max-width: 1090px){
	post-title{
	  letter-spacing: 5px; font-size: 10pt
    }
}
@media (min-width: 601px) and (max-width: 800px){
	post-title{
	  letter-spacing: 3px; font-size: 10pt
    }
    .imgCur{
		width: 50%
    }
    .back, .front{
		padding-top: 5px
	}
}

@media (max-width: 600px){
	.post-title{
	  letter-spacing: 2px; font-size: 10pt
    }
	.flip-container, .front, .back {  	
	  width: 95%;
	  height: 200px; margin-bottom: 10px;
    }
	.txtcard{
		font-size: 12pt; font-weight: 500
	}
	.back, .front{
		padding-top: 5px
	}
	.back{
		text-align: left; padding-top: 2px;
	}
	.front{
		text-align: right
	}
	.imgCur{
		width: 60%
	}
	.colmeio{
	  border-left: solid 0px #fff; padding-left: 0px
    }
    .h3{
        margin-top: 5px;
    }
    .colUxUi{
        margin-top: 50px;
    }
    
	
}
